chromeDriverBinaryPath=D:/Mine/YURY/Yury_Work/Drivers/chromedriver.exe
internetExplorerDriverBinaryPath=D:/Mine/YURY/Yury_Work/Drivers/IEDriverServer.exe
fireFoxDriverBinaryPath=D:/Mine/YURY/Yury_Work/Drivers/geckodriver.exe
screenshotsPath=D:/Mine/YURY/Yury_Work/AutoScreenshots/
